%h1='Bienvenido al portal de prueba de Dataprop'
%h1{ class: "text-primary" } Título de Bootstrap
%button{ class: "btn btn-primary" } Botón de Bootstrap
%h1{ class: "text-primary" } dos de Bootstrap
%h1{ class: "text-secondary" } tres de Bootstrap
%div{ class: "container" }
  %div{ class: "row" }
    %div{class: "card"}
      %p='royne'
